
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VoterPageLayout.cshtml";
}

<h2>Index</h2>
<div>Welcome</div>

@if (ViewBag.Message != null)
{
<h3 style = "color:blue;"> @ViewBag.Message</h3>
}

